<!-- 와이파이 상세 정보 보기 view 구현 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>와이파이 정보 구하기</title>
    <script src="https://cdn.jsdeliv.net/npm/vue@2.x"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div>
    <h1>와이파이 정보 구하기</h1>
    <a href="/">홈</a> |
    <a href="/history">위치 히스토리 목록</a> |
    <a href="/load-wifi">Open API 와이파이 정보 가져오기</a> |
    <a href="/bookmark-list">북마크 보기</a> |
    <a href="/bookmark-group">북마크 그룹 관리</a>
    <br><br>
    <select name="listName" id="listName">
        <option value="">북마크 그룹 이름 선택</option>
        <option th:each="bookmarkGroup : ${bookmarkGroups}" th:value="${bookmarkGroup.name}" th:text="${bookmarkGroup.name}"></option>
    </select>
    <button onclick="addWifiInfoToBookmark('<%=resWifi.get(0).getX_SWIFI_MGR_NO()%>',
    document.querySelector('#listName').value)">북마크 추가하기</button>
    <h1 id="result"></h1>
<table border="1" id="wifiTable">
    <tbody id="wifiTableBody">
    <tr>
        <th>거리(km)</th>
        <td th:text="${#numbers.formatDecimal(wifi.distance, 1, 'COMMA', 4, 'POINT')}"></td>
    </tr>
    <tr>
        <th>관리번호</th>
        <td th:text="${wifi.managementNo}"></td>
    </tr>
    <tr>
        <th>자치구</th>
        <td th:text="${wifi.wardOffice}"></td>
    </tr>
    <tr>
        <th>와이파이명</th>
        <td><a href="#" th:text="${wifi.mainName}"></a></td>
    </tr>
    <tr>
        <th>도로명주소</th>
        <td th:text="${wifi.address1}"></td>
    </tr>
    <tr>
        <th>상세주소</th>
        <td th:text="${wifi.address2}"></td>
    </tr>
    <tr>
        <th>설치위치(층)</th>
        <td th:text="${wifi.installationFloor}"></td>
    </tr>
    <tr>
        <th>설치유형</th>
        <td th:text="${wifi.installationType}"></td>
    </tr>
    <tr>
        <th>설치기관</th>
        <td th:text="${wifi.installationManufacturedBy}"></td>
    </tr>
    <tr>
        <th>서비스구분</th>
        <td th:text="${wifi.serviceSeparatedEntry}"></td>
    </tr>
    <tr>
        <th>망종류</th>
        <td th:text="${wifi.CMCWR}"></td>
    </tr>
    <tr>
        <th>설치년도</th>
        <td th:text="${wifi.constructionYear}"></td>
    </tr>
    <tr>
        <th>실내외구분</th>
        <td th:text="${wifi.inoutDoor}"></td>
    </tr>
    <tr>
        <th>WIFI접속환경</th>
        <td th:text="${wifi.REMARS3}"></td>
    </tr>
    <tr>
        <th>X좌표</th>
        <td th:text="${wifi.longitude}"></td>
    </tr>
    <tr>
        <th>Y좌표</th>
        <td th:text="${wifi.latitude}"></td>
    </tr>
    <tr>
        <th>작업일자</th>
        <td th:text="${wifi.workedDateTime}"></td>
    </tr>
    </tbody>
</table>
</div>
<script src="/js/wifi/detail.js"></script>
</body>
</html>
