<!-- 기본 페이지 view 구현 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>와이파이 정보 구하기</title>
    <script src="https://cdn.jsdeliv.net/npm/vue@2.x"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div>
    <h1>와이파이 정보 구하기</h1>
    <a href="/">홈</a> |
    <a href="/history">위치 히스토리 목록</a> |
    <a href="/load-wifi">Open API 와이파이 정보 가져오기</a>
    <label for="latitude">LAT:</label>
    <input type="text" id="latitude" value="0.0">
    <label for="longitude">, LNT:</label>
    <input type="text" id="longitude" value="0.0">
    <button id="getMyLocation">내 위치 가져오기</button>
    <button id="getNearWifiInformation">근처 WIFI 정보 보기</button>
    <h1 id="result"></h1>
    <table border="1" id="wifiTable">
        <thead>
        <tr>
            <th>거리(km)</th>
            <th>관리번호</th>
            <th>자치구</th>
            <th>와이파이명</th>
            <th>도로명주소</th>
            <th>상세주소</th>
            <th>설치위치(층)</th>
            <th>설치유형</th>
            <th>설치기관</th>
            <th>서비스구분</th>
            <th>망종류</th>
            <th>설치년도</th>
            <th>실내외구분</th>
            <th>WIFI접속환경</th>
            <th>X좌표</th>
            <th>Y좌표</th>
            <th>작업일자</th>
        </tr>
        </thead>
        <tbody id="wifiTableBody">
        <tr>
            <td colspan="17" class="center-text">위치 정보를 입력한 후에 조회해 주세요.</td>
        </tr>
        </tbody>
    </table>
</div>
<script src="/js/app.js"></script>
</body>
</html>
